---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2017&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_Adaj3OMpXpNdrQvGJf3eeoJK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19QRrxDTh2DhiR4RReMjvrOA",
          "object": "token",
          "card": {
            "id": "card_19QRrxDTh2DhiR4RGIYRxe10",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1481680065,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 14 Dec 2016 01:47:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&source=tok_19QRrxDTh2DhiR4RReMjvrOA&description=&metadata[reference]=64d249821684a5073554
    headers:
      Authorization:
      - Bearer sk_test_Adaj3OMpXpNdrQvGJf3eeoJK
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 64d249821684a5073554
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 64d249821684a5073554
      Original-Request:
      - req_9jvjkPa9rmFpDq
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_19QRryDTh2DhiR4RzeYHobp3",
          "object": "charge",
          "amount": 3000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_19QRryDTh2DhiR4RXjMu3LYG",
          "captured": true,
          "created": 1481680066,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "64d249821684a5073554"
          },
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_19QRryDTh2DhiR4RzeYHobp3/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_19QRrxDTh2DhiR4RGIYRxe10",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 14 Dec 2016 01:47:46 GMT
recorded_with: VCR 3.0.3
