---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2018&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_Adaj3OMpXpNdrQvGJf3eeoJK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19XdvkDTh2DhiR4RYsMTuPV3",
          "object": "token",
          "card": {
            "id": "card_19XdvkDTh2DhiR4Rl3OwKrDh",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "YAXXiZ76FR58tQUG",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "199.182.211.53",
          "created": 1483394724,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 02 Jan 2017 22:05:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&source=tok_19XdvkDTh2DhiR4RYsMTuPV3&description=&metadata[reference]=256012f081b8d642d1bc
    headers:
      Authorization:
      - Bearer sk_test_Adaj3OMpXpNdrQvGJf3eeoJK
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 256012f081b8d642d1bc
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 256012f081b8d642d1bc
      Original-Request:
      - req_9rMf3ym7cW6o8k
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_19XdvlDTh2DhiR4RA9sWlug1"
          }
        }
  recorded_at: Mon, 02 Jan 2017 22:05:25 GMT
recorded_with: VCR 3.0.3
