---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2017&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_Adaj3OMpXpNdrQvGJf3eeoJK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19QRrzDTh2DhiR4RSUTBrIlz",
          "object": "token",
          "card": {
            "id": "card_19QRrzDTh2DhiR4RaBJwnFA1",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1481680067,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 14 Dec 2016 01:47:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/tokens/tok_19QRrzDTh2DhiR4RSUTBrIlz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Adaj3OMpXpNdrQvGJf3eeoJK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |[...]
